<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover password</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="recoverPassword1.js"></script>
</head>
<body>
<main>
    <div class="stages">
        <div class="stage active"></div>
        <div class="stage unactive"></div>
        <div class="stage unactive"></div>
    </div>
    <div class="login-menu">
        <div class="close" id="close"><img src="../static/img/close.svg"></img></div>
        <div class="image"><img class="picture" src="../static/img/recoverPasswordStage1.png"></div>
        <div class="login-inputs">
            <p>Восстановить пароль</p>
            <div>
                <div>
                    <p class="small grey">Мы пришлем вам код подтверждения на вашу
                        электронную почту для восстановления пароля</p>
                </div>
                <div>
                    <div>
                        <p class="small grey">Почта</p>
                        <label id="email">
                            <input>
                        </label>
                    <div></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-space ">
            <a class="login-button" id="send">Отправить</a>
        </div>
    </div>
</main>
</body>
</html>