<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recover password</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="recoverPassword3.js"></script>
</head>
<body>
<main>
    <div class="stages">
        <div class="stage active"></div>
        <div class="stage active"></div>
        <div class="stage active"></div>
    </div>
    <div class="login-menu">
        <div class="close" id="close"><img src="../static/img/close.svg"></img></div>
        <div class="login-inputs">
            <p class="newPassword">Придумайте новый пароль</p>
            <div>
                <div>
                    <p class="small grey">Ваш код подтверждения принят, теперь вам
                        нужно придумать новый пароль</p>
                </div>
                <div>
                    <div class="password-annotation">
                        <span class="small grey">Пароль</span>
                    </div>
                    <label id="password">
                        <input type="password">
                    </label>
                    <div></div>
                    <div class="password-annotation">
                        <span class="small grey">Повторите пароль</span>
                    </div>
                    <label id="recPassword">
                        <input type="password">
                    </label>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="button-space ">
            <a class="login-button" id="restore">Восстановить</a>
        </div>
    </div>
</main>
</body>
</html>