<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign up</title>
    <link rel="stylesheet" href="../static/css/login.css">
    <script src="signUp.js"></script>
</head>
<body>
<main>
    <div class="login-menu">
        <div class="no-acc">
            <p class="small white">Есть аккаунт?</p>
            <p class="small blue" id="signIn">← Войти</p>
        </div>
        <div class="login-inputs">
            <p>Регистрация</p>
            <div>
                <div>
                    <p class="small grey">Почта</p>
                    <label id="email">
                        <input>
                    </label>
                    <div></div>
                </div>
                <div>
                    <div class="password-annotation">
                        <span class="small grey">Пароль</span>
                    </div>
                    <label id="password">
                        <input type="password">
                    </label>
                    <div></div>
                    <div class="password-annotation">
                        <span class="small grey">Повторите пароль</span>
                    </div>
                    <label id="secPassword">
                        <input type="password">
                    </label>
                    <div></div>
                </div>
                <div>
                    <p class="small grey">Никнейм</p>
                    <label id="nickname">
                        <input>
                    </label>
                    <div></div>
                </div>
            </div>
        </div>
        <div class="button-space ">
            <a class="login-button" id="signUp">Зарегестрироваться</a>
        </div>
    </div>
</main>
</body>
</html>